

.select-menu {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-color: #fff;
}

/* Estilos para las opciones del select */
.select-menu option {
    padding: 10px;
    font-size: 16px;
}

/* Estilos para el select cuando está enfocado */
.select-menu:focus {
    outline: none;
}
/* Estilos para las opciones del select */
.select-menu option {
    padding: 10px;
    font-size: 16px;
    color: black; /* Color del texto de las opciones */
}

.select-menu:focus option:checked {
    color: red; /* Cambia el color del texto a rojo */
}