<main>
    <h1>BUSCAR UNIVERSIDADES</h1>
    <div class="input-container">
        <input class="search-input" type="search" [formControl]="searchControl" [value]="defaultValue">
        <div class="options-container">
            <select class="search-select" [(ngModel)]="selectedOption" (change)="onOptionChangePais($event)">
                <option value="-1">Pais</option>
                <ng-container *ngFor="let option of optionsdis; let i = index">
                    <option value="{{option.id}}">{{option.nombre}}</option>
                </ng-container>
            </select>
            <select class="search-select" [(ngModel)]="selectedOptionCiudad" (change)="onOptionChangeCiudad($event)">
                <option value="-1">Ciudad</option>
                <ng-container *ngFor="let option of optionsdCiudad; let i = index">
                    <option value="{{option.id}}">{{option.nombre}}</option>
                </ng-container>
            </select>
            <button class="filter" (click)="filter()">
                Filtrar
            </button>
        </div>
    </div>
    <div class="universidad-container">
        <ng-container *ngIf="!load">
            <div class="dot-content">
                <div class="dot one"></div>
                <div class="dot two"></div>
                <div class="dot tree"></div>
            </div>
        </ng-container>
        <ng-container *ngFor="let universidad of itemsToDisplay; let i = index">
            <div class="universidad">
                <div class="universidad-text">
                    <h4>{{ universidad.ciudad.pais.nombre }} / {{ universidad.ciudad.nombre }}</h4>
                    <h2>{{ universidad.nombre | titlecase}}</h2>
                </div>
                <a href="{{universidad.url}}">visitar</a>
            </div>
        </ng-container>
    </div>
    @if (calculatedPage != 0) {
    <div class="buttons-container">
        @if (page != 1) {
        <button (click)="page=page-1">-</button>
        }
        <div>
            <span>
                {{page}} - {{calculatedPage}}
            </span>
        </div>
        @if ((page)*limit_pages < data.length) { <button (click)="page=page+1">+</button>
            }
    </div>
    }
</main>