<main>
    <h1>UNIVERSIDADES OFERTAS</h1>
    <input class="search-input" type="search" [formControl]="searchControl" [value]="defaultValue"> 
    <div class="offer-container">
        <ng-container *ngIf="!load">
            <div class="dot-content">
                <div class="dot one"></div>
                <div class="dot two"></div>
                <div class="dot tree"></div>
            </div>
        </ng-container>
        <ng-container *ngFor="let offer of itemsToDisplay; let i = index">
           <div class="offer">
                <div class="offer-text">
                    <h4>{{ offer.universidad.ciudad.pais.nombre }} / {{ offer.universidad.ciudad.nombre }}</h4>
                    <h2>{{ offer.universidad.nombre  }}</h2>
                    <h3>{{ offer.nombre | titlecase}}</h3>
                    <span>{{ offer.programa.descripcion }}</span>
                </div>
                <a href="{{offer.universidad.url}}">visitar</a>
           </div>
        </ng-container>
    </div>
    @if (calculatedPage != 0) {
        <div class="buttons-container">
            @if (page != 1) {
                <button (click)="page=page-1">-</button>
            }
            <div>
                <span>
                    {{page}} - {{calculatedPage}}
                </span>
            </div>
            @if ((page)*limit_pages < data.length) {
                <button (click)="page=page+1">+</button>
            }
        </div>
    }
</main>

